@model PersonalWeb.Models.ViewModels.ForgetPasswordModel

@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ForgetPassword", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="main-page login-page ">
            <h2 class="title1">Yönetim Paneli - Şifremi Unuttum Sayfası</h2>
            @Html.ValidationSummary(false)
            <div class="widget-shadow">
                <div class="login-body">
                    <p class="alert-danger">@ViewBag.Info</p>
                    <input type="email" class="user" name="Email" placeholder="Email adresiniz..." required="">
                    <button class="btn btn-success form-control" type="submit"><span class="glyphicon glyphicon-send"></span>Şifre Gönder</button>
                    <br />
                    <br />
                    <a href="/yonetimpaneli" class="btn btn-danger form-control"><span class="glyphicon glyphicon-arrow-left"></span> Giriş Sayfasına Dön</a>
                </div>
            </div>

        </div>
    </div>
}

