@model PersonalWeb.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/validation-summary.css" rel="stylesheet" />

@using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="main-page login-page ">
            <h2 class="title1">Yönetim Paneli - Giriş Sayfası</h2>
            @Html.ValidationSummary(false)              
            <div class="widget-shadow">
                <div class="login-body">
                        <p class="alert-danger">@ViewBag.Info</p>
                        <input type="email" class="user" name="Email" placeholder="Email adresiniz...">
                        <input type="password" name="Password" class="lock" placeholder="Şifreniz...">
                        <div class="forgot-grid">
                            <div class="forgot">
                                <a href="/yonetimpaneli/sifremiunuttum">Şifremi Unuttum</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <button class="btn btn-success form-control" type="submit"><span class="glyphicon glyphicon-log-in"></span>Giriş</button>
                </div>
            </div>

        </div>
    </div>
}

